<!DOCTYPE html>
<head>
	<title>{% block title %}{{ site.get("APP", "name") }}{% endblock %}</title>
	<!--META INFORMATIONS-->
	<meta name="description" content="Free wiki for DnD 5e">
	<meta name="author" content="MexLab and DoctorFuchs">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<!--LOADING STYLESHEETS-->
	<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
	<link href="{{url_for(".asset_serve", folder="css", path="general.css")}}" rel="stylesheet">
	{% block stylesheets %}{% endblock %}

	<!--LOADING SCRIPTS-->
	{% block scripts %}{% endblock %}
</head>
<body>
	<div class="w3-top">
		<div class="w3-bar w3-black">
			<a href="/" class="w3-bar-item w3-button">Home</a>
			<div class="w3-dropdown-hover w3-right">
				<a href="/api/" class="w3-button">Offical basic rules</a>
				<div class="w3-dropdown-content w3-bar-block w3-border">
					{% for node_key, node_link in api.get("/").items() %}
						<a href="{{node_link}}" class="w3-bar-item w3-button">{{node_key.capitalize().replace("-", " ")}}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div class="w3-container">
		{% block content%}
		{% endblock %}
	</div>
	<!--TODO: ADD FOOTER WITH USEFUL LINKS-->
	<div class="w3-container">
		{% block footer %}
		{% endblock %}
	</div>
</body>
