<!DOCTYPE html>
<head>
	<title>{% block title %}{{ site.get("APP", "name") }}{% endblock %}</title>
	<!--META INFORMATIONS-->
	<meta name="description" content="Free wiki for DnD 5e">
	<meta name="author" content="MexLab and DoctorFuchs">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<!--LOADING STYLESHEETS-->
	<link href="{{url_for(".asset_serve", folder="css", path="w3.css")}}" rel="stylesheet">
	<link href="{{url_for(".asset_serve", folder="css", path="general.css")}}" rel="stylesheet">
	<link href="{{url_for(".asset_serve", folder="css", path="font-awesome.min.css")}}" rel="stylesheet">

	{% block stylesheets %}{% endblock %}

	<!--LOADING SCRIPTS-->
	{% block scripts %}{% endblock %}
</head>
<body class="w3-content">
	<div class="w3-top w3-white w3-content">
		<div class="w3-bar">
			<a href="/" class="w3-bar-item w3-hover-text-green">Home</a>
			<div class="w3-dropdown-hover w3-right ">
				<p class="w3-hover-white w3-hover-text-green w3-hide-small">Offical basic rules</p>
				<i class="fa fa-bars w3-hover-white w3-hover-text-green w3-hide-medium w3-hide-large" ></i>
				<div class="w3-dropdown-content w3-bar-block w3-border" style="right:0; width: 100%;">
					{% for node_key, node_link in api.get("/").items() %}
						<a href="{{node_link}}" class="w3-section w3-center w3-third w3-hover-text-green">{{node_key.capitalize().replace("-", " ")}}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<div class="w3-container" style="min-height: 100vh">
		{% block content%}
		{% endblock %}
	</div>
	<!--TODO: ADD FOOTER WITH USEFUL LINKS-->
	<div class="w3-container w3-black">
		<div class="w3-quarter">

		</div>
		<div class="w3-quarter">

		</div>
		<div class="w3-half">
			<a href="licenses.html">Licenses</a>
		</div>
	</div>
</body>
