<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{{ site.get("APP", "name") }}{% endblock %}</title>
	<!--META INFORMATIONS-->
	<meta name="description" content="Free wiki for DnD 5e">
	<meta name="author" content="MexLab and DoctorFuchs">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<!--LOADING STYLESHEETS-->
	<link href="{{url_for(".asset_serve", folder="css", path="w3.css")}}" rel="stylesheet">
	<link href="{{url_for(".asset_serve", folder="css", path="general.css")}}" rel="stylesheet">
	<link href="{{url_for(".asset_serve", folder="css", path="font-awesome.min.css")}}" rel="stylesheet">

	{% block stylesheets %}{% endblock %}

	<!--LOADING SCRIPTS-->
	<script type="module" src='{{url_for(".asset_serve", folder="js", path="js.cookie.mjs")}}'></script>
	<script type="module" src='{{url_for(".asset_serve", folder="js", path="sidebars.js")}}'></script>
	<script type="module" src='{{url_for(".asset_serve", folder="js", path="general.js")}}'></script>
	{% block scripts %}{% endblock %}
</head>
<body>
	<header class="w3-top w3-white" style="z-index:3">
		<div class="w3-bar">
			<a href="/" class="w3-bar-item w3-hover-text-green">Home</a>
			<div class="w3-dropdown-hover w3-right">
				<p class="dropdown-button-click w3-hover-white w3-hover-text-green w3-hide-small">Official basic rules<p>
				<i class="dropdown-button-click fa fa-bars w3-hover-white w3-hover-text-green w3-hide-medium w3-hide-large w3-margin-right"></i>
				<div id="dropdown-content" class="w3-dropdown-content w3-bar-block w3-border" style="right:0; width: 100%;">
					<div class="responsive-grid">
						{% for node_key, node_link in api.get("/").items() %}
							<a href="{{node_link}}" class="w3-section w3-center w3-hover-text-green">{{node_key.capitalize().replace("-", " ")}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</header>
	<main style="margin-top: 52.5px">
		<div id="toc" name="Table of contents" class="w3-sidebar w3-bar-block w3-hide-small w3-hide-medium w3-animate-left" style="height: auto;">

		</div>
		<div id="bookmarks" class="w3-sidebar w3-bar-block w3-hide-small w3-hide-medium w3-animate-right" style="height: auto; right: 0;">

		</div>
		<div class="w3-container w3-content" style="min-height: 100vh">
			{% block content%}
			{% endblock %}
		</div>
	</main>

	<footer class="w3-container w3-black w3-padding-16" style="min-height: 30vh;">
		<div class="w3-quarter">
			<br>
		</div>
		<div class="w3-quarter">
			<h2><a href="https://www.github.com/doctorfuchs/dndlib"><i class="fa fa-github-square"></i> GitHub</a></h2>
			<h2><a href="https://www.dnd5eapi.co/"><i class="fa fa-cube"></i> Dnd5eapi</a></h2>
		</div>
		<div class="w3-quarter">
			<h2><a href="/licenses.html">Licenses</a></h2>
		</div>
		<div class="w3-quarter">
			<br>
		</div>
	</footer>
</body>
</html>
