{% extends "base.html" %}
{% block scripts %}
<script src="{{url_for(".asset_serve", folder="js", path="search.js")}}"></script>
{% endblock %}
{% block content %}
<ul id="item_list">
    <h1>{{api_resp.count}} results for {{base_node.capitalize()}}</h1>
    {%if api_resp.count >= 30%}
    <input class="w3-input w3-border w3-padding" type="text" placeholder="Search for {{base_node.capitalize()}}.." id="searchbar" onkeyup="search()">
    {% for result in api_resp.results%}
    {% if loop.first%}
        <h1>A</h1>
    {% elif loop.previtem.name[0].lower() != result.name[0].lower()%}
        <h1>{{result.name[0].upper()}}</h1>
    {% endif %}
    <a href="{{result.url}}">
        <li class="w3-black w3-center w3-container w3-cell item">
            <p>{{result.name}}</p>
        </li>
    </a>
    {% endfor %}
    {% else %}
    {% for result in api_resp.results%}
    <a href="{{result.url}}">
        <div class="w3-black w3-border w3-center w3-container w3-card-4" style="width:33%; float:left">
            <p>{{result.name}}</p>
        </div>
    </a>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}
