.page {
  	background-color: #f8f5de;
  	background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  	box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  	letter-spacing: 0.05em;
 	line-height: 1.8;
	padding: 3em 10em 3em 5em;
}

#content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
}

.heading article,
section h1 {

}

section h2 {

}

section h3 {

}

section h4 {

}

section h5 {
    display: block;
}

section h6 {

}

section {
    order: 0;
}

article {

}

.api-reference {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 12px 12px;
    margin: 4px 4px;
    text-align: center
}

div#content div {
    padding-bottom: 12px;
}

#heading-group {
    order: -5;

    border-bottom: 5px solid black;
}

#description-top-group {
    order: -4;

    border-bottom: 5px solid black;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

#skills-group {
    order: -3;

    border-bottom: 5px solid black;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
}

#description-bottom-group {
    order: -2;
}

div {

}

.heading {
}

.description-top {

}

.skills {

}

.description-bottom {

}
