.page {
  	background-color: #f8f5de;
  	background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  	box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  	letter-spacing: 0.05em;
 	line-height: 1.8;
	padding: 3em 10em 3em 5em;
}

#content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
}

#heading-group article div,
section h1 {
    font-size: 30px;
    font-weight: bold;
}

section h2 {

}

section h3 {

}

section h4 {

}

section h5 {
    display: block;
}

section h6 {

}

section {
    order: 0;
}

article {

}

.api-reference {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 12px 12px;
    margin: 4px 4px;
    text-align: center
}

div#content > div {
    padding-bottom: 12px;
    border-bottom: 5px solid black;

    margin-bottom: 10px;
}

#heading-group {
    order: -5;
}

#description-top-group {
    order: -4;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
}

#skills-group {
    order: -3;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
}

#description-half-group {
    order: -2;


    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

#description-bottom-group {
    order: -1;

    display: grid;
    grid-gap: 0;
    grid-template-columns: auto;
}

div {

}

.heading {
}

.description-top {

}

.skills {

}

.description-bottom {

}

select {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;

    border: 1px solid #ccc;
    border-bottom: 1px solid #ddd;

    padding-left: 16px;
    margin: 20px 0;
}

td, th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
}

td:first-child,
th:first-child {
    width: 10%;
}


tr:nth-child(odd) {
    background-color: #fff
}

tr:nth-child(even) {
    background-color: #f1f1f1
}
