@media (min-width: 993px) {
    /*large displays*/
    #description-top-group {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 992px) and (min-width:601px) {
    /*Medium displays*/
    #description-top-group {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 600px) {
    /*small displays*/
    #description-top-group {
        grid-template-columns: auto auto;
    }

    #skills-group {
        grid-template-columns: auto auto auto !important;
    }
}

#content {
    letter-spacing: 0.05em;
 	line-height: 1.8;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
}

#heading-group article div,
section h1 {
    font-size: 30px;
    font-weight: bold;
}

section h2 {

}

section h3 {

}

section h4 {

}

section h5 {
    display: block;
}

section h6 {

}

section {
    order: 0;
}

article {

}

.api-reference {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding: 12px 12px;
    margin: 4px 4px;
    text-align: center;
    cursor: pointer;
}

div#content > div {
    padding-bottom: 12px;
    border-bottom: 5px solid black;

    margin-bottom: 10px;
}

#heading-group {
    order: -5;
    padding-bottom: 0px !important;
}

#description-top-group {
    order: -4;

    display: grid;
    grid-gap: 30px;
}

#skills-group {
    order: -3;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
}

#description-half-group {
    order: -2;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

#description-bottom-group {
    order: -1;

    display: grid;
    grid-gap: 0;
    grid-template-columns: auto;
}

div {

}

.heading {
}

.description-top {

}

.skills {
    /*border: 1px solid black;*/
}

.description-bottom {

}

select {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;

    border: 1px solid #ccc;
    border-bottom: 1px solid #ddd;

    padding-left: 16px;
    margin: 20px 0;
}

td, th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
}

td:first-child,
th:first-child {
    width: 10%;
}

tbody:nth-child(odd),
tr:nth-child(odd) {
    background-color: #fff
}

tbody:nth-child(even),
tr:nth-child(even) {
    background-color: #f1f1f1
}

searchbar-input {
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
}

.path-link {
    color: red;
    text-decoration: none;
}

.path-link:hover {
    color: black;
}

.utils-bar {
    float: right;
}
